@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

:root {
  --main-white-color: #edf0f1;
  --main-primary-color: rgba(0, 136, 169, 1);
  --main-primary-color-opacity: rgba(0, 136, 169, 0.8);
  --dark-bg: #24252a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

html {
  scroll-behavior: smooth;
}

.navbar {
  /* position: fixed;
  top: 0px;
  width: 100%; */
  height: 10vh;
  padding: 30px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--dark-bg);
}

.navbar li,
.navbar a,
.navbar button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: var(--main-white-color);
  text-decoration: none;
}

.nav_links {
  list-style: none;
}

.nav_links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav_links li a {
  transition: all 0.3s ease;
}

.nav_links li a:hover {
  color: #0088a9;
}

.navbar button {
  padding: 9px 25px;
  background-color: var(--main-primary-color);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.navbar button:hover {
  background-color: var(--main-primary-color-opacity);
}

a.logo {
  position: relative;
  font-size: 40px;
  color: #252839;
  -webkit-text-stroke: 0.3vw #383d52;
  text-transform: uppercase;
}

a.logo::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  color: var(--main-primary-color);
  -webkit-text-stroke: 0vw #383d52;
  /* border-right: 2px solid var(--main-primary-color); */
  overflow: hidden;
  animation: animate 3s linear;
}

@keyframes animate {
  0% {
    width: 0;
  }

  70% {
    width: 100%;
  }
}

#welcome-banner {
  height: 90vh;
}

#welcome-banner img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.welcome-message {
  position: absolute;
  top: 50%;
  color: var(--main-white-color);
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  gap: 1em;
  width: 100%;
  opacity: 0;
  transform: translateY(3rem);
  animation: fadeInUp 2s ease 2s forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.welcome-message h1 {
  font-size: 3em;
}

.welcome-message .subtitle {
  font-size: 1.5em;
}

.welcome-message .CTA-Btn button {
  font-size: 1.25em;
  padding: 9px 25px;
  background-color: var(--main-white-color);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  margin-left: 10px;
}

.welcome-message .CTA-Btn button:hover {
  background-color: #9fbfd5;
}

.container {
  padding: 2.5% 10%;
}

.container h1 {
  display: block;
  width: 100%;
  text-align: center;
  margin-bottom: .5em;
}

.dark-bg {
  background: var(--dark-bg);
  color: var(--main-white-color);
}